* {
    margin: 0;
    padding: 0
}

html {
    background: #222;
    color: #ffffff;
    padding: 15px;
}

body {
    margin: 0;
    position: relative;
}

.center {
    margin: auto;
}

.logo {
    height: 200px;
    background-image: url('/img/logo/logo_500x200_white_n_glow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border: none;
}

div {
    font-size: 16px;
    font-family: 'Helvetica Neue UltraLight', 'Helvetica Neue', sans-serif;
}

.products {
    margin-top: 50px;
    text-align: left;
}

.header {
    font-weight: bold;
    margin-bottom: 10px;
}

.block {
    font-weight: 200;
}

.footer {
    margin-top: 50px;
    text-align: left;
}