* {
    margin: 0;
    padding: 0
}

html {
    background: #222;
    color: #ffffff;
    padding: 15px;
}

body {
    margin: 0;
    position: relative;
}

.center {
    margin: auto;
}

div {
    font-size: 16px;
    font-family: 'Helvetica Neue UltraLight', 'Helvetica Neue', sans-serif;
}

.header-block {
    font-weight: bold;
    margin-bottom: 10px;
}

.text-block {
    font-size: 14px;
}